<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
<% if (re) {
    console.log(re + "\t" + re.length);
}
if (inforTable) {
    console.log(inforTable.listCol[0].columname + "\t" + inforTable.name);
}
%>

<table>
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
    </tr>
    <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
    </tr>
    </tbody>
</table>

<form action="/DB/ExcuteTable" method="post">
    <textarea type="text" placeholder="Statement" cols="40" rows="5" name="statement"></textarea>
    <input type="submit" value="Ok">
</form>
</body>
</html>