<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HSQL</title>
</head>
<body>
<form action="/Users/Login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" placeholder="password">
    <input type="submit" value="Login">
</form>
<hr>
<!--<form action="/Users/Resgiter" method="post">-->
    <!--<input type="text" placeholder="username">-->
    <!--<input type="submit" value="Login">-->
<!--</form>-->
</body>
</html>