<center>
    JSQL - Java Script Query Language.<br>
    Developer by: Nguyễn Tấn Hậu|
    Language: NodeJS|
    Time: 2 days<br>
    Subject: HCI
    <a href="Doc/ViewDoc">Documentation</a>
    <br>
    <% if(sess != null){ %>
    <p>Hi <%= sess.username%>, Welcome  to JSQL</p>
    <% } %>
</center>